---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
        position: relative;
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      ul li:first-child .image-container img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
      }
      ul li:first-child .title {
        font-size: 2.369rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        width: 90%;
      }
      ul li .image-container {
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        margin-bottom: 0.5rem;
      }
      ul li img {
        display: block;
        width: 100%;
        max-height: 180px;
        object-fit: cover;
        border-radius: 12px;
        transition:
          transform 0.3s ease,
          box-shadow 0.2s ease;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        line-height: 1;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        color: white;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
        font-size: 1.2rem;
      }
      .date {
        margin: 0.5rem 0 0;
        color: rgb(var(--gray));
      }
      ul li a:hover .title {
        color: rgb(var(--accent));
      }
      ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul li a:hover .image-container img {
        box-shadow: var(--box-shadow);
        transform: scale(1.05);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
        ul li .title {
          font-size: 1rem;
          bottom: 0.5rem;
          left: 0.5rem;
          right: 0.5rem;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post, index) => (
              <li>
                <a href={`/blog/${post.id}/`}>
                  <div class="image-container">
                    <img
                      width={720}
                      height={index === 0 ? 300 : 180}
                      src={post.data.heroImage}
                      alt=""
                    />
                    <h4 class="title">{post.data.title}</h4>
                  </div>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
